@import "tailwindcss";


@font-face {
  font-family: 'SinewsSans-Light';
  src: url('./fonts/SinewsSans-Light.otf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'SinewsSans-Medium';
    src: url('./fonts/SinewsSans-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'Averta-Bold';
    src: url('./fonts/Averta-Bold.otf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Averta-Regular';
    src: url('./fonts/Averta-Regular.otf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Averta-Black';
    src: url('./fonts/Averta-Black.otf') format('truetype');
    font-weight: 900;
}

@theme {
 
    --color-accent: rgba(255, 237, 53, 1); 
    --color-accent-dark: rgba(78, 8, 143, 1); 
    --font-family-serif: 'SinewsSans-Light', serif;
    --font-family-sineMedium: 'SinewsSans-Medium', sans-serif;
    --font-family-averBold: 'Averta-Bold', sans-serif;
    --font-family-averRegular: 'Averta-Regular', sans-serif;
    --font-family-averBlack: 'Averta-Black', sans-serif;
    --text-8xl: 6rem;
    
}

@layer base {
    html {
    font-family: 'SinewsSans-Light', sans-serif;
    font-size: 18px;
    
    p {
        @apply mb-4;
    }

    /* Larger base font size for large screens */
    @media (min-width: 1024px) {
        font-size: 18px;

    }
        /* 3xl: Full HD (FHD) 1920x1080 */
        @media (min-width: 1920px) {
            font-size: 20px;

        }
        /* 4xl: Quad HD (QHD/2K) 2560x1440 */
        @media (min-width: 2560px) {
            font-size: 24px;

        }
        /* 5xl: Ultra HD (UHD/4K) 3840x2160 */
        @media (min-width: 3840px) {
            font-size: 28px;
        }
}


.split{
    font-size: 50px;
}

}
