@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

}

a{
    color: white;
}

.split{
    font-size: 50px;
}

}
